html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: $text;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "Quicksand", sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: $text;
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.rate-star {
	display: inline-block;
	margin-left: 14px;
}
.title-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	max-width: 1140px;
	min-height: 110px;
	padding: 0 30px 0 30px;
	margin-bottom: 50px;
}
.title {
	font-size: 30px;
	color: #000;
	line-height: 60px;
}
