@import "vars";
@import "global";
@import "fonts";

// start header
.header__top {
	background-color: #eef1f3;
	&-inner {
		display: flex;
		justify-content: space-between;
		height: 90px;
		align-items: center;
	}
}
.header__box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 30px;
}

.header__circle {
	&.active {
		display: block;
	}
	display: none;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #7e8fa1;
		font-size: 20px;
	}
	span {
		position: absolute;
		width: 22px;
		height: 22px;
		border-radius: 50px;
		text-align: center;
		line-height: 20px;
		right: -9px;
		top: -10px;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
	}
}

.notification {
	span {
		background-color: #ff6a6c;
	}
}
.message {
	span {
		background-color: #62d03b;
	}
}
.basket {
	span {
		background-color: #0674ec;
	}
}
.user__box {
	margin-left: 40px;
	min-width: 175px;
}
.user {
	&__inner {
		display: flex;
		align-items: center;
	}

	&__images {
		margin-right: 22px;
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 50%;
	}
	&__info {
		line-height: 22px;
	}
	&__name {
		font-size: 16px;
		font-weight: 500;
		color: #333333;
	}
	&__money {
		color: #0674ec;
		font-size: 15px;
	}
}

.user__box,
.basket__box,
.notification__box,
.message__box {
	position: relative;
	height: 90px;
	margin-top: 33px;
	&:hover {
		.user__menu {
			height: auto;
			border-top: 1px solid #0674ec;
			padding: 20px;
			overflow: auto;
		}
		&::before {
			content: "";
			position: absolute;
			width: 66px;
			height: 65px;
			top: 42px;
			left: 105px;
			background-image: url(../images/polygon.png);
		}
	}
	.user__menu {
		position: absolute;
		top: 72px;
		left: -90px;
		background-color: #fff;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		width: 270px;
		height: 0;
		padding: 0 20px;
		z-index: 1;
		overflow: hidden;
		a {
			color: #54667a;
			padding: 13px 15px 15px;
			border-radius: 2px;
		}
	}
	li {
		display: flex;
		vertical-align: bottom;
	}
	li:hover {
		background-color: #0674ec;
		a {
			color: #fff;
		}
	}
}
.basket__box,
.notification__box,
.message__box {
	margin-top: 60px;
	margin-left: 30px;
	&:hover {
		.circle__menu {
			overflow: hidden;
			height: auto;
			border-top: 1px solid #0674ec;
			z-index: 1;
		}

		&::before {
			top: 28px;
			left: -15px;
		}
	}
}
.circle__menu {
	position: absolute;
	top: 59px;
	right: -30px;
	height: 0;
	box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
	overflow: hidden;
	z-index: 1;
}
.circle__item {
	background-color: #fff;
	padding: 0 26px;
	border-bottom: 1px solid #e8ebf0;
	display: flex;
	align-items: center;
	width: 400px;
	transition: all 0.3s;
}
.circle__info-box {
	display: flex;
	padding: 20px 0;
}
.circle__images {
	margin-right: 15px;
	width: 40px;
	height: 40px;
	margin: auto 15px auto 0;
}
.circle__info-name {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 10px;
	span {
		font-size: 15px;
		color: #747a86;
	}
}
.circle__info-thema {
	padding-left: 20px;
	color: #7347c1;
	position: relative;
	&::before {
		content: "\e923";
		font-family: "icomoon";
		position: absolute;
		left: 0px;
	}
}
.notification__thema {
	padding-left: 0;
	&::before {
		content: "";
	}
}

.notification__box {
	&:hover::before {
		left: -15px;
	}
}
.notification__menu,
.message__menu {
	line-height: 20px;
	right: -310px;
	.circle__item {
		width: 370px;
		padding: 0 26px;
		flex-direction: column;
	}
	.circle__info-title {
		width: 100%;
		padding: 20px 0;
		margin: 0;
		border-bottom: 1px solid #e8ebf0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.info-title__name {
			font-size: 18px;
			line-height: 28px;
			color: #000;
		}
		.info-title__all {
			color: #0674ec;
		}
	}
	.circle__info-box {
		width: 100%;
		align-items: center;
		.circle-icon {
			position: absolute;
			right: 0;
			margin-right: 26px;
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			&::before {
				padding-right: 0;
			}
		}
		.icon-lnr-heart {
			color: #0674eb;
			background-color: #e6f1fd;
		}
		.icon-lnr-bubble {
			color: #7347c1;
			background-color: #f1ecf9;
		}
		.icon-lnr-cart {
			color: #ff6a6c;
			background-color: #fff0f0;
		}
		.icon-lnr-star {
			color: #62d03a;
			background-color: #effaeb;
		}
	}
	.circle__info-name {
		margin-bottom: 0;
	}
}

.message__box {
	&:hover::before {
		left: -17px;
	}
}
.message__menu {
	right: -18px;
	.circle__item {
		border: none;
	}
	.circle__info-box {
		border-bottom: 1px solid #e8ebf0;
	}
	.circle__info {
		display: flex;
		flex-wrap: wrap;
	}
	.circle__info-name {
		position: relative;
		line-height: 28px;
		&::after {
			content: "\e90f";
			position: absolute;
			font-family: "icomoon";
			top: -4px;
			right: -25px;
			color: #0674ec;
			font-size: 15px;
		}
	}
	.circle__info-data {
		margin-left: auto;
		color: #0674ec;
	}
	.circle__message-thema {
		color: #555555;
		line-height: 30px;
	}
}

.circle__info-data {
	font-size: 14px;
	color: #747a86;
	line-height: 28px;
}
.icon-lnr-trash {
	color: #818c98;
	line-height: 28px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #f1ecf9;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.circle__info-price {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #0674ec;
	height: 32px;
	background-color: #e6f1fd;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 0 10px;
	border-radius: 50px;
	margin: 10 0 0 0;
}
.basket__summ {
	padding-top: 25px;
	background-color: #fff;
}
.basket__summ-title {
	display: flex;
	justify-content: flex-end;
	padding: 0 24px 25px;
	font-size: 18px;
	font-weight: 500;
}
.basket__summ-total {
	margin-right: 30px;
}
.basket__btn {
	line-height: 30px;
	color: #fff;
	background-color: #7347c1;
	padding: 23px 10px;
	width: 200px;
	text-align: center;
	margin-right: -2px;
}
.basket__btn-checkout {
	width: 200px;
	background-color: #0674ec;
	margin-left: -2px;
}

.user__menu li {
	display: flex;
	align-items: center;
	padding-left: 10px;
	a {
		font-family: "Quicksand", sans-serif;
	}
}

.header__btn {
	min-width: 150px;
	height: 36px;
	font-size: 14px;
	margin-left: auto;
	color: #ffffff;
	background-color: #0674ec;
	border-radius: 17px;
	text-align: center;
	padding: 7px 20px;
}
.header__message {
	margin-left: 50px;
	display: flex;
	align-items: center;
}
.header__menu {
	background-color: #fff;
	&-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 80px;
	}
}
.header__menu__list {
	display: flex;
	text-transform: uppercase;
	color: #333333;
	font-weight: 500;
	li {
		display: inline-block;
		& + li {
			margin-left: 30px;
		}
	}
}
.header__menu__form {
	position: relative;
	max-width: 360px;
	width: 100%;
	input {
		display: block;
		width: 100%;
		height: 44px;
		border: 1px solid #d9dfe5;
		border-radius: 50px;
		font-size: 15px;
		padding-left: 26px;
		padding-right: 80px;
		outline: none;
		color: #000;
		&:focus {
			border: 2px solid #d9dfe5;
		}
		&::placeholder {
			color: #898f96;
		}
	}
	button {
		background-color: #0674ec;
		position: absolute;
		border: none;
		height: 100%;
		width: 70px;
		border-radius: 50px;
		right: 0;
		top: 0;
		cursor: pointer;
		outline: none;
	}
}

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 280px;
	&__inner {
		padding: 84px 0 27px;
		color: #f3f3f8;
		text-align: center;
		&-title {
			font-size: 26px;
			margin-bottom: 30px;
		}
		&-form {
			max-width: 558px;
			width: 100%;
			margin: 0 auto;
			position: relative;
			margin-bottom: 34px;
			input {
				display: block;
				width: 100%;
				padding: 20px 130px 20px 30px;
				border-radius: 50px;
				color: #000;
				outline: none;
				border: none;
			}
			button {
				position: absolute;
				top: 0;
				right: -1px;
				padding: 20px 30px;
				border-radius: 50px;
				border: none;
				background-color: #0674ec;
				color: #fff;
				cursor: pointer;
				outline: none;
			}
		}
		&-text {
			color: #bfcad7;
			span {
				color: #fff;
			}
		}
	}
}

.header__btn-menu,
.menu__btn {
	display: none;
}
// end header

// start new-products
.new-products {
	background-color: #fff;
	padding: 40px 0;
	color: #555555;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-link a {
			font-size: 16px;
			margin-right: 20px;
			align-items: center;
			&.active {
				color: #0674ec;
			}
		}
	}
	&__sort {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	&__form {
		border: 1px solid #eceff2;
		border-radius: 3px;
		max-width: 218px;
		padding: 15px 20px;
		margin-right: 29px;
		color: #747b86;
		font-size: 14px;
		line-height: 32px;
		outline: none;
	}
}

.display-type {
	border: 1px solid #eceff2;
	border-radius: 3px;
	padding: 13px 18px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	position: relative;
	button {
		padding: 0 9px;
		border: none;
		background-color: transparent;
		font-size: 22px;
		color: #a7abb2;
		margin: 0;
		outline: none;
		cursor: pointer;
	}
	.active {
		&::before {
			color: #6dadf4;
		}
	}
}

// end new-products

//  start create
.create {
	background-image: url(../images/create-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 724px;
}
.create__inner {
	padding-top: 182px;
	color: #fff;
	text-align: center;
	position: relative;
	min-height: 724px;
	&-title {
		margin-bottom: 40px;
		font-size: 60px;
		line-height: 70px;
		font-weight: 700;
		span {
			font-weight: 400;
			display: block;
		}
	}
	&-text {
		margin-bottom: 68px;
		font-size: 20px;
		line-height: 30px;
		font-weight: 500;
	}
	&-btn {
		margin: 0 14px;
		height: 55px;
		width: 190px;
		border: 1px solid #fff;
		border-radius: 100px;
		text-align: center;
		font-size: 16px;
		padding: 15px;
		transition: all 0.3s;
		&.active {
			background-color: #ffffff;
			color: #0674ec;
		}
	}
	&-form {
		background-color: #fff;
		width: 1140px;
		height: 135px;
		border-radius: 6px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		position: absolute;
		bottom: -67px;
		font-size: 16px;

		.form-wrapper {
			position: relative;
			z-index: 1;
		}
		.inner-form {
			display: flex;
			justify-content: center;
		}
		.form-search {
			border: 1px solid #dcdcdc;
			border-radius: 4px 0 0 4px;
			width: 613px;
			height: 53px;
			margin: 40px 0 40px;
			color: #676767;
			padding: 0 26px;
			outline: none;
			&:focus {
				border: 2px solid #d9dfe5;
			}
			&::placeholder {
				color: #898f96;
			}
		}
		.form-category {
			display: inline-block;
			border: 1px solid #dcdcdc;
			border-left: none;
			border-radius: 0 4px 4px 0;
			width: 192px;
			height: 53px;
			margin: 40px 0 40px;
			cursor: pointer;
			color: #555555;
			padding: 0 26px;
			outline: none;
			margin-right: 30px;
			&:focus {
				border: 2px solid #d9dfe5;
			}
			&::placeholder {
				color: #898f96;
			}
		}
		.form-btn {
			background-color: #0674ec;
			border: none;
			border-radius: 4px;
			width: 192px;
			height: 53px;
			margin: 40px 0 40px;
			color: #fff;
			padding: 0 26px;
			cursor: pointer;
		}
		&::before {
			content: "";
			width: 1080px;
			height: 135px;
			border-radius: 6px;
			background-color: rgba(255, 255, 255, 0.502);
			position: absolute;
			top: -26px;
			left: 30px;
			z-index: 0;
		}
		&::after {
			content: "";
			width: 1110px;
			height: 135px;
			border-radius: 6px;
			background-color: rgba(255, 255, 255, 0.502);
			position: absolute;
			top: -13px;
			left: 15px;
			z-index: 0;
		}
	}
}

.slider {
	margin-top: 200px;
}
//  end create

// start advantages
.advantages {
	padding: 185px 0 94px;
	&__inner {
		display: flex;
		justify-content: space-between;
		:hover {
			border-radius: 4px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}
	}
	&__item {
		max-width: 361px;
		padding: 40px 30px 50px;
		text-align: center;
		transition: all 0.4s;
	}
	&__title {
		font-size: 24px;
		padding-top: 34px;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: #555555;
		padding-top: 20px;
	}
}

// start featured
.featured {
	padding: 120px 0;
	background-color: #eff1f5;
	&__title-btn {
		background-color: #7347c1;
		width: 110px;
		height: 45px;
		border-radius: 50px;
		position: relative;
	}
	&__slider-item {
		display: flex;
		justify-content: space-between;
	}
	&__slider-img {
		max-width: 555px;
		width: 100%;
	}
	&__slider-img {
		border-radius: 4px 0 0 4px;
	}
	&__item {
		&-content {
			border-radius: 0 4px 4px 0;
			background-color: #fff;
			box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
			padding: 20px 20px 24px;
			max-width: 585px;
			border: none;
			.border {
				border: none;
			}
		}
		&-title {
			font-size: 24px;
			color: #000;
			display: block;
			padding-bottom: 20px;
		}
		&-theme {
			padding-left: 40px;
			padding-bottom: 34px;
			position: relative;
			&::before {
				content: "";
				width: 30px;
				height: 30px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #7347c1;
				border-radius: 50%;
			}
		}
	}
	&__item-box {
		border-top: 1px solid #ececec;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 30px 0;
	}
	&__item-btn {
		display: flex;
		margin: 10px 30px;
		border: none;
		&-btn {
			margin-right: 7px;
			background-color: #f1f3f6;
			padding: 4px 20px;
			border-radius: 50px;
			color: #868c96;
			outline: none;
		}
	}
	&__item-intro {
		display: flex;
		align-items: center;
	}
	&__item-price {
		background-color: #0674ec;
		padding: 6px 20px;
		border-radius: 50px;
		color: #fff;
		line-height: 30px;
		margin-right: 46px;
	}
	&__item-like {
		position: relative;
		margin-right: 46px;
		&::before {
			content: "";
			background-image: url(../images/icons/heart.png);
			width: 16px;
			height: 14px;
			position: absolute;
			left: -22px;
			top: 4px;
		}
	}
	&__item-basket {
		position: relative;
		&::before {
			content: "";
			background-image: url(../images/icons/cart.png);
			width: 14px;
			height: 14px;
			position: absolute;
			left: -22px;
			top: 4px;
		}
	}
}

// end featured

// start products
.products {
	background-color: #f6f7fb;
	padding: 120px 0 120px 0;
	&__title-filter {
		font-size: 16px;
		color: #747b86;
	}
	&__inner {
		flex-wrap: wrap;
		min-height: 92px;
		button {
			margin-right: 10px;
			border: none;
			height: 32px;
			border-radius: 17px;
			padding: 0 20px;
			color: #747b86;
			transition: all 0.5s;
			cursor: pointer;
			outline: none;
			&.mixitup-control-active {
				background-color: #0674ec;
				font-weight: 500;
				color: #fff;
			}
		}
	}
}
.products__inner-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f6f7fb;
}

.products__item {
	max-width: 361px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	margin-bottom: 30px;
	&-img {
		min-height: 230px;
		background-repeat: no-repeat;
		display: block;
		background-position: center;
		background-size: cover;
		border-radius: 4px 4px 0 0;
	}
	&-btn {
		font-size: 15px;
		font-weight: 500;
		margin: 0;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		display: none;
	}
	&-info {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #fff;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		width: 130px;
		height: 45px;
		border-radius: 50px;
		margin-right: 10px;
		color: #fff;
		transition: all 0.4s;
		&:hover {
			background-color: #fff;
			color: #0674ec;
		}
	}
	&-demo {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #fff;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		width: 130px;
		height: 45px;
		border-radius: 50px;
		transition: all 0.4s;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: #0674ec;
		}
	}
	&-bg {
		position: relative;
		&:hover {
			.products__item-btn {
				display: flex;
			}
		}
	}
	&-content {
		padding: 30px 30px;
		border-bottom: 1px solid #ececec;
		color: #000;
		min-height: 236px;
	}
	&-title {
		font-size: 20px;
		font-weight: 500;
		display: block;
	}
	&-author {
		display: flex;
		align-items: center;
		min-height: 80px;
		.avatar {
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-position: center;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 14px;
		}
		.theme {
			color: #000;
			line-height: 30px;
		}
		.plugin {
			font-size: 15px;
			color: #7347c1;
			padding-left: 44px;
			position: relative;
			&::before {
				content: "\e903";
				font-family: "icomoon";
				left: 20px;
				top: 0;
				position: absolute;
				text-align: center;
				width: 16px;
				height: 16px;
			}
		}
	}

	&-text {
		font-size: 16px;
		line-height: 30px;
		color: #555555;
	}
	&-intro {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		position: relative;
		min-height: 60px;
		.rate-star {
			margin-left: 14px;
			padding-left: 0;
		}
	}
	&-price {
		border-radius: 15px;
		background-color: rgba(6, 116, 236, 0.102);
		height: 30px;
		text-align: center;
		line-height: 30px;
		padding: 0 20px;
		margin-right: 35px;
		font-weight: 500;
		color: #0674ec;
	}
	&-like {
		position: relative;
		margin-right: 70px;
		max-width: 177px;
		&::before {
			content: "";
			background-image: url(../images/icons/heart.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 16px;
			height: 14px;
			position: absolute;
			left: -22px;
			top: 5px;
		}
	}
	&-basket {
		position: relative;
		&::before {
			content: "";
			background-image: url(../images/icons/cart.png);
			width: 14px;
			height: 14px;
			position: absolute;
			right: 35px;
			top: 5px;
		}
	}
}
.products__button {
	text-align: center;
	&-btn {
		width: 190px;
		height: 55px;
		font-size: 16px;
		color: #ffffff;
		background-color: #0674ec;
		border-radius: 50px;
		padding-top: 16px;
	}
}
// end products

// .products-slider
.products-slider {
	padding: 120px 0;
	background-color: #eff1f5;
}
.products-slider__title-btn {
	background-color: #0674ec;
	width: 110px;
	height: 45px;
	border-radius: 50px;
	position: relative;
}

.slick-arrow {
	border: none;
	position: absolute;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}
.click-prev {
	right: 100px;
	top: -113px;
}
.click-next {
	right: 50px;
	top: -113px;
}

// end.products-slider

// start information
.information {
	background-color: #212225;
	padding: 96px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		text-align: center;
		&-images {
			width: 48px;
			height: 41px;
			margin: 0 auto;
		}
		&-title {
			font-size: 36px;
			margin-top: 50px;
		}
		&-text {
			color: #fff;
			font-size: 18px;
			line-height: 36px;
			margin-top: 20px;
		}
	}
}
.number-1 {
	color: #feb71d;
}
.number-2 {
	color: #58c9e9;
}
.number-3 {
	color: #77de51;
}
.number-4 {
	color: #ff6a6d;
}
// end information

// start dignities
.dignities {
	background-color: #ffffff;
	padding: 120px 0;
	text-align: center;
	&__title {
		&-name {
			font-size: 36px;
			color: #000;
			padding-bottom: 30px;
		}
		span {
			color: #0674ec;
		}
		&-text {
			font-size: 16px;
			line-height: 30px;
			color: #555555;
			margin-bottom: 60px;
			padding: 0 220px;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-card {
			text-align: center;
			border-radius: 4px;
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
			max-width: 361px;
			background-color: #fff;
			margin-bottom: 30px;
			padding: 0 30px;
		}
		&-icon {
			padding: 47px 0 52px;
		}
		&-title {
			font-size: 24px;
			color: #000;
		}
		&-text {
			font-size: 16px;
			line-height: 30px;
			color: #555555;
			padding: 30px 0 60px;
		}
	}
}

// end dignities

// start choice
.choice__inner {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: #fff;
	&-box1 {
		background-image: url(../images/icons/choice-bg1.jpg);
	}
	&-box2 {
		background-image: url(../images/icons/choice-bg2.jpg);
	}
	&-box {
		padding: 100px 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		min-height: 560px;
	}
	&-title {
		font-size: 36px;
		margin: 50px 0 30px;
	}
	&-text {
		font-size: 16px;
		line-height: 30px;
		padding: 0 190px;
	}
}
// end choice

// start feedback
.feedback {
	padding: 120px 0;
	&__title {
		text-align: center;
		&-title {
			font-size: 36px;
			padding-bottom: 34px;
			span {
				color: #0674ec;
			}
		}
		&-text {
			padding: 0 220px;
			font-size: 16px;
			line-height: 30px;
			color: #555555;
			margin-bottom: 60px;
		}
	}
	&__card-inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	&__card-box {
		border-radius: 0 4px 4px 0;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		background-color: #fff;
		max-width: 555px;
		padding: 48px 40px;
		font-size: 16px;
		line-height: 30px;
		border-left: 2px solid #0674ec;
	}
	&__card-name {
		font-size: 20px;
		padding-left: 100px;
		position: relative;
		margin-bottom: 35px;
		color: #000;
		span {
			font-size: 16px;
			color: #555555;
			display: block;
			padding-top: 10px;
		}
		&::before {
			content: "";
			width: 82px;
			height: 82px;
			background-color: #808080;
			border-radius: 50%;
			top: 0;
			left: 0;
			position: absolute;
		}
		&::after {
			content: "";
			background-image: url(../images/icons/bubble.png);
			top: 0;
			right: 0;
			width: 57px;
			height: 51px;
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
}

// end feedback

// start news
.news {
	background-color: #eff1f5;
	padding: 120px 0;
	text-align: center;
	&__item {
		margin-bottom: 60px;

		&-title {
			font-size: 36px;
			color: #000;
			margin-bottom: 30px;
			span a {
				color: #0674ec;
			}
		}
		&-text {
			margin: 0 auto;
			font-size: 16px;
			line-height: 30px;
			color: #555555;
			max-width: 720px;
		}
	}
	&__inner {
		&-box {
			display: flex;
			justify-content: space-between;
		}
		&-card {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
			max-width: 361px;
		}
		&-img {
			height: 230px;
			width: 361px;
		}
		&-title {
			font-size: 22px;
			font-weight: 500;
			padding: 30px 0;
		}
		&-text {
			font-size: 16px;
			line-height: 30px;
			text-align: start;
			color: #555555;
			padding-bottom: 30px;
		}
		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-box {
				padding: 0 30px;
				border-bottom: 1px solid #999999;
			}
		}
	}
}
.news__inner {
	&-down {
		padding: 10px 30px 8px 30px;
		align-items: center;
	}
	&-data {
		text-align: start;
		width: 50%;
		padding: 13px 30px 13px 25px;

		position: relative;
		border-right: 1px solid #999999;
		a {
			color: #999999;
		}
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 15px;
			background-image: url(../images/icons/clock.png);
			top: 17px;
			left: 0;
		}
	}
	&-comment {
		position: relative;
		color: #7e7e7e;
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 14px;
			background-image: url(../images/icons/bubble-light.png);
			top: 5px;
			left: -20px;
		}
	}
	&-views {
		padding-left: 55px;
		position: relative;
		color: #7e7e7e;
		&::before {
			content: "";
			position: absolute;
			width: 17px;
			height: 9px;
			background-image: url(../images/icons/eye.png);
			top: 7px;
			left: 30px;
		}
	}
}

// end news

// start guarantee
.guarantee {
	&__inner {
		display: flex;
		justify-content: space-around;
		text-align: center;
		&-money {
			padding: 60px 0;
			border-right: 1px solid #e8eaf3;
			width: 50%;
		}
		&-support {
			padding: 60px 0;
			width: 50%;
		}
		&-icon1 {
			padding-bottom: 26px;
		}
		&-icon2 {
			padding-bottom: 26px;
		}
		&-text {
			font-size: 24px;
			span {
				color: #0674ec;
			}
		}
	}
}

// end guarantee

// start ready
.ready {
	padding: 110px 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__inner-title {
		font-size: 36px;
		color: #fff;
	}
	&__inner-text {
		color: #e7e7e7;
		padding-top: 20px;
	}
}
.ready__btn {
	height: 55px;
	width: 190px;
	font-size: 16px;
	color: #0674ec;
	background-color: #fff;
	border-radius: 50px;
	padding-top: 16px;
	margin-top: 50px;
}
// end ready

// start footer
.footer {
	background-color: #262b30;
	color: #ababab;
	font-size: 15px;
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 115px 0 124px;
	}

	&__form-text {
		line-height: 28px;
	}
}
.footer__copy {
	background-color: #192027;
	color: #999999;
	padding: 37px 0;
	text-align: center;
	span {
		color: #fff;
	}
}
.footer__col {
	max-width: 300px;
	&-menu {
		max-width: 154px;
	}
	&-form {
		max-width: 364px;
		width: 100%;
	}
	&-title {
		font-size: 18px;
		color: #fff;
		padding: 10px 0 30px;
	}
	&-logo img {
		width: 160px;
		padding-bottom: 15px;
	}
	&-text {
		font-size: 15px;
		color: #ababab;
		line-height: 28px;
		margin-bottom: 20px;
	}
}
.footer__info {
	color: #ababab;
	margin-top: 16px;
	line-height: 26px;
	padding-left: 30px;
	position: relative;
	&::before {
		content: "\e91b";
		font-family: "icomoon";
		color: #fff;
		font-size: 16px;
		position: absolute;
		left: 0;
	}
	&-mail {
		&::before {
			content: "\e90f";
		}
	}
	&-adress {
		&::before {
			content: "\e926";
		}
	}
}

.footer__col-list {
	a {
		margin-bottom: 15px;
		color: #ababab;
	}
}
.footer__form form {
	margin: 37px 0 48px 0;
}
.footer__social-lnk {
	li {
		display: inline-block;
		& + li {
			margin-left: 10px;
		}
	}
	a {
		width: 42px;
		height: 42px;
		background-image: url(../images/css_sprites.png);
	}
}
.link-facebook {
	background-position: -84px -0;
}
.link-twiter {
	background-position: -42px -42px;
}
.link-pinterest {
	background-position: -84px -42px;
}
.link-linkedin {
	background-position: -42px -0;
}
.link-drible {
	background-position: -0 -42px;
}
.footer__form {
	form {
		position: relative;
		input {
			border: none;
			background-color: #fff;
			display: block;
			width: 100%;
			height: 50px;
			border-radius: 50px;
			color: #000;
			font-size: 15px;
			line-height: 28;
			padding-left: 30px;
			padding-right: 120px;
			position: relative;
			outline: none;
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 50px;
			border-radius: 50px;
			width: 110px;
			background-color: #0674ec;
			border: none;
			cursor: pointer;
			color: #fff;
		}
	}
}
// end footer

// start product-page
.product-page__inner {
	display: flex;
	padding-bottom: 120px;
}
.product-page__aside {
	margin-right: 28px;
}
.aside__item {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	padding: 0 32px 32px;
	margin-bottom: 30px;
	width: 263px;
}
.aside__title {
	border-bottom: 1px solid #e7ebee;
	font-size: 20px;
	color: #010101;
	padding: 28px 0 24px;
	position: relative;
	&::before {
		content: "\e909";
		position: absolute;
		color: #747b86;
		right: 0;
		font-size: 17px;
		font-family: "icomoon";
	}
}
.product-page__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.products__item + .products__item {
		margin-left: 30px;
	}
	.products__item,
	.list + .products__item,
	.list {
		margin-left: 0;
	}
}

.category__list,
.filter__list {
	padding-top: 10px;
	li {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-left: 20px;
		&::before {
			content: "\e90b";
			position: absolute;
			color: #747b86;
			left: 0;
			font-family: "icomoon";
			font-size: 10px;
		}
	}
	a {
		color: #555555;
		&:hover {
			color: #0674ec;
		}
	}
	span {
		color: #747b86;
		margin-left: 10px;
	}
}

.filter__list {
	li {
		&::before {
			content: "\f1db";
		}
	}
}
.irs-min,
irs-max {
	display: none;
}
.pricing__range {
	form {
		padding-top: 20px;
	}
	button {
		margin: 0 auto;
		margin-top: 90px;
		padding: 14px 32px;
		background-color: #0674ec;
		border-radius: 50px;
		outline: none;
		border: none;
		font-weight: 500;
		color: #fff;
		text-align: center;
		display: block;
		cursor: pointer;
	}
}
.irs--flat .irs-line {
	top: 25px;
	height: 6px;
	background-color: #efedf3;
	border-radius: 4px;
}
.irs--flat .irs-bar {
	top: 25px;
	height: 6px;
	background-color: #7347c1;
}
.irs--flat .irs-handle {
	width: 16px;
	height: 16px;
	border: 5px solid #0674ec;
	border-radius: 50%;
	background-color: #fff;
}
.irs--flat .irs-handle > i:first-child {
	display: none;
}
.irs-from,
.irs-single,
.irs-to {
	top: 60px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	color: #7347c1;
	font-size: 15px;
	line-height: 1.333;
	text-shadow: none;
	padding: 8px 20px;
	background-color: #f1ecf9;
	border-radius: 50px;
}
.irs--flat .irs-handle {
	top: 20px;
}
.product-page__content {
	.products__item-avatar {
		display: flex;
	}
	.products__item-text {
		display: none;
	}
	.products__item-like {
		display: none;
	}
	.products__item-comments {
		display: none;
	}
	.products__item {
		max-width: 262px;
		transition: all 0.5s;
		&-content {
			min-height: 70px;
			padding: 10px 20px;
			border: none;
		}
		&-intro {
			padding: 15px 20px;
			.plugin {
				font-size: 15px;
				color: #7347c1;
				padding-left: 44px;
				position: relative;
				&::before {
					content: "\e923";
					font-family: "icomoon";
					left: 20px;
					top: 0;
					position: absolute;
					text-align: center;
					width: 16px;
					height: 16px;
				}
			}
		}
		&-author {
			min-height: 25px;
			padding: 0 20px;
			margin: 0;
		}
		&-info {
			width: 100px;
			height: 40px;
		}
		&-demo {
			width: 100px;
			height: 40px;
		}
		&-name {
			.products__item-intro {
				display: none;
			}
		}
	}
	.products__item-img {
		min-height: 160px;
	}

	.products__item-title {
		font-size: 18px;
	}
	.star-basket {
		display: flex;
		justify-content: space-between;
		text-align: center;
		color: #0674ec;
		align-items: center;
		padding: 15px 20px;
		border-bottom: 1px solid #ececec;
	}
}

.rate-star {
	margin-left: 0;
}
// end product-page

// start paginations
.paginations {
	display: flex;
	justify-content: flex-end;
	&__btn {
		// width: 50px;
		// 	height: 38px;
		&-left {
			margin-right: 35px;
			background-color: #fff;
			border: none;
			width: 50px;
			border-radius: 50px;
		}

		&-right {
			margin-left: 35px;
			background-color: #fff;
			border: none;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			background-color: #7347c1;
			border-radius: 50px;
		}
	}

	&__list {
		li {
			display: inline-block;
			& + li {
				margin-left: 5px;
			}
		}
		a,
		span {
			width: 50px;
			height: 38px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
			color: #747b86;
			border-radius: 50px;
			background-color: #fff;
			&.active {
				color: #f3f3f8;
				background-color: #0674ec;
			}
		}
	}
}

.products__item {
	&.list {
		max-width: 100%;
		display: flex;
		height: 210px;
		.products__item-img {
			width: 230px;
			border-radius: 4px 0 0 4px;
			min-height: 210px;
		}
		.products__item-content {
			min-width: 260px;
			padding: 10px 0 20px 20px;
		}
		.wordpress {
			display: none;
		}
		.products__item-title {
			padding: 0;
			margin-top: 15px;
		}
		.products__item-text {
			display: block;
		}
		.products__item-btn {
			top: 125px;
			left: 115px;
		}
		.products__item-name {
			max-width: 260px;
			border-right: 1px solid #ececec;
			padding: 0;
			margin: 0;
		}
		.products__item-like {
			display: block;
			margin: 20px 20px 0;
		}
		.products__item-comments {
			display: block;
			position: relative;
			margin: 5px 20px;
			&::before {
				content: "\e906";
				font-family: "icomoon";
				left: -20px;
				top: 0;
				color: #7f4ec2;
				position: absolute;
				text-align: center;
				width: 16px;
				height: 16px;
			}
		}
		.products__item-intro {
			display: block;
			padding: 20px 0 3px;
			min-height: 0;
			.plugin {
				padding-left: 25px;
				&::before {
					left: 0px;
				}
			}
		}
		.products__item-author {
			width: 206px;
			flex-direction: column;
			margin: 30px 0 0;

			display: block;
		}
		.star-basket {
			padding-top: 5px;
			border: none;
			.products__item-basket {
				display: none;
			}
		}
	}
}
// end paginations

// start blog

.blog {
	background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);
	opacity: 0.902;
	height: 180px;
}
.blog-page__aside {
}
.blog-page {
	background-color: #eff1f5;
	padding-top: 70px;
	&__inner {
		display: flex;
		justify-content: space-between;
		.product-page__aside {
			margin-right: 0;
		}
		.aside__item {
			width: 360px;
			.aside__title {
				color: #000;
			}
		}
	}
}
.blog-page__content {
	margin-bottom: 120px;
	.paginations {
		margin-top: 15px;
	}
}

.blog__inner {
	.blog__inner-text {
		padding-top: 55px;
		padding-bottom: 22px;
		color: #bfcad7;
		span {
			color: #fff;
		}
	}
	.blog__inner-title {
		color: #fff;
		font-size: 30px;
		font-weight: 500;
	}
}
.blog-page {
	.blog-page__items {
		display: flex;
		flex-wrap: wrap;
	}
	.paginations {
		justify-content: start;
	}
}

.blog__item {
	max-width: 750px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	margin-bottom: 40px;
}
.blog__item-img {
	display: block;
	width: 100%;
	height: 430px;
}
.blog__item-content {
	padding-bottom: 30px;
	background-color: #fff;
}
.blog__item-name {
	border-bottom: 1px solid #ececec;
	padding: 40px 30px 26px;
}
.blog__item-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
	color: #0674ec;
	padding-bottom: 16px;
}
.icons__item {
	a {
		color: #999999;
		margin-right: 30px;
		padding-left: 26px;
		span {
			color: #0674ec;
		}
	}
}
.blog__item-author {
	position: relative;
	&::before {
		content: "\e920";
		position: absolute;
		font-family: "icomoon";
		left: 0;
		top: 4px;
		color: #898f96;
	}
}
.blog__item-date {
	position: relative;
	&::before {
		content: "\e90c";
		position: absolute;
		font-family: "icomoon";
		left: 0;
		top: 4px;
		color: #898f96;
	}
}
.blog__item-massege {
	position: relative;
	&::before {
		content: "\e906";
		position: absolute;
		font-family: "icomoon";
		left: 0;
		top: 4px;
		color: #898f96;
	}
}
.blog__item-views {
	position: relative;
	&::before {
		content: "\e911";
		position: absolute;
		font-family: "icomoon";
		left: 0;
		top: 4px;
		color: #898f96;
	}
}

.blog__item-text {
	font-size: 16px;
	line-height: 30px;
	padding: 22px 30px;
}
.blog__button {
	padding: 0 30px;
	&-btn {
		text-align: center;
		padding: 12px 25px 10px;
		font-size: 16px;
		color: #ffffff;
		background-color: #0674ec;
		border-radius: 50px;
	}
}

.search__post,
.popular__post {
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	.header__menu__form {
		margin-top: 30px;
	}
	.aside__title {
		&::before {
			content: "";
		}
		padding: 28px 32px 24px;
	}
	.post__form {
		padding: 30px 20px 40px;
	}
}
.search__post {
	padding-bottom: 30px;
	.header__menu__form {
		max-width: 310px;
		margin-left: 24px;
	}
	.aside__title {
		padding-left: 24px;
	}
}
.blog-page__aside {
	.aside__item {
		padding: 0;
		.aside__title {
			padding-left: 24px;
			padding-right: 34px;
			&::before {
				padding-right: 34px;
			}
		}
		.category__list {
			padding-left: 24px;
			padding-right: 34px;
			padding-bottom: 40px;
		}
	}
}
.popular__post-title {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	.active {
		color: #0674ec;
	}
	.aside__title {
		padding: 30px 0px;
		display: inline-block;
		border: none;
	}
}
.popular__post-img {
	width: 70px;
	height: 70px;
}
.popular__post-items {
	border-top: 1px solid #ececec;
}
.popular__post-item {
	display: flex;
	margin: 22px 24px;
	padding-bottom: 22px;
	border-bottom: 1px solid #ececec;
}

.popular__post-text {
	padding-left: 12px;
	.post-title {
		font-size: 16px;
		font-weight: 500;
	}
	.post-data {
		color: #898f96;
		padding-left: 22px;
		position: relative;
		&::before {
			content: "\e90c";
			position: absolute;
			font-family: "icomoon";
			left: 0;
			top: 2px;
			color: #898f96;
		}
	}
}
.popular__tags-items {
	padding: 30px 5px 40px 24px;
	display: flex;
	flex-wrap: wrap;

	li {
		margin-right: 10px;
	}
	a {
		margin-top: 12px;
		padding: 3px 15px 6px;
		background-color: #edf5fe;
		border-radius: 50px;
		color: #0674ec;
		&.active {
			background-color: #0674ec;
			color: #fff;
		}
	}
}
.aside__banner-item {
	border-radius: 4px;

	.banner__title {
		font-size: 36px;
		margin-bottom: 12px;
	}
	.banner-img {
		text-align: center;
		background-image: linear-gradient(-90deg, rgb(0, 46, 217) 0%, rgb(85, 23, 218) 46%, rgb(169, 0, 218) 100%);
		opacity: 0.8;
		max-width: 360px;
		height: 270px;
		color: #f9f9f9;
		display: flex;
		.banner{
			margin: auto;
		}
	}
}


// end blog

@import "media";
